In [1]:
from tpot import TPOTClassifier
from sklearn.cross_validation import train_test_split
import pandas as pd
import numpy as np

/home/pawan/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
# Load the data
telescope = pd.read_csv("MAGIC Gamma Telescope Data.csv");
telescope.head()

,Flength,Fwidth,Fsize,Fconc,Fconc1,Fasym,Fm3long,Fm3trans,Falpha,Fdist,Class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g

In [6]:
telescope_shuffle = telescope.iloc[np.random.permutation(len(telescope))]
telescope_shuffle.head()

,Flength,Fwidth,Fsize,Fconc,Fconc1,Fasym,Fm3long,Fm3trans,Falpha,Fdist,Class
2186,12.9432,11.2194,2.0737,0.7426,0.4262,14.6779,-7.1385,10.3084,89.7459,155.3690,g
16926,149.9980,20.3267,2.7850,0.4167,0.2535,128.7400,96.4835,-14.2222,12.2700,73.9120,h
12068,43.6997,24.2821,3.2262,0.2245,0.1363,41.3657,29.0070,17.5175,12.8480,191.5870,g
18815,19.6388,9.8178,2.2068,0.5714,0.2888,25.8192,4.2684,-2.2875,13.0905,133.2080,h
15741,36.3026,14.7726,2.8010,0.3897,0.1656,-17.0835,-23.3102,-16.0965,69.2729,270.5055,h

In [8]:
tele = telescope_shuffle.reset_index(drop=True)
tele.head()

,Flength,Fwidth,Fsize,Fconc,Fconc1,Fasym,Fm3long,Fm3trans,Falpha,Fdist,Class
0,12.9432,11.2194,2.0737,0.7426,0.4262,14.6779,-7.1385,10.3084,89.7459,155.3690,g
1,149.9980,20.3267,2.7850,0.4167,0.2535,128.7400,96.4835,-14.2222,12.2700,73.9120,h
2,43.6997,24.2821,3.2262,0.2245,0.1363,41.3657,29.0070,17.5175,12.8480,191.5870,g
3,19.6388,9.8178,2.2068,0.5714,0.2888,25.8192,4.2684,-2.2875,13.0905,133.2080,h
4,36.3026,14.7726,2.8010,0.3897,0.1656,-17.0835,-23.3102,-16.0965,69.2729,270.5055,h

# Pre-Processing Data

In [12]:
tele.dtypes

Flength     float64
Fwidth      float64
Fsize       float64
Fconc       float64
Fconc1      float64
Fasym       float64
Fm3long     float64
Fm3trans    float64
Falpha      float64
Fdist       float64
Class        object
dtype: object

In [13]:
for cat in ["Class"]:
    print("Levels for category '{0}': {1}".format(cat, tele[cat].unique()))

Levels for category 'Class': ['g' 'h']

In [14]:
tele["Class"] = tele["Class"].map({'g':0, 'h':1})

In [20]:
tele = tele.fillna(-999)
pd.isnull(tele).any()

Flength     False
Fwidth      False
Fsize       False
Fconc       False
Fconc1      False
Fasym       False
Fm3long     False
Fm3trans    False
Falpha      False
Fdist       False
Class       False
dtype: bool

In [21]:
tele.shape

(19020, 11)

In [22]:
tele_class = tele["Class"].values

# Data Analysis using TPOT

In [ ]:
training_indices, validation_indices = training_indices, test_indices = train_test_split(tele.index, stratify = teleclass, )